<nav mat-tab-nav-bar>
    <a mat-tab-link
       [routerLink]="['/newConfig']"
       routerLinkActive #rla1="routerLinkActive"
       [active]="rla1.isActive">新建配置
    </a>
    <a mat-tab-link
       [routerLink]="['/allConfig']"
       routerLinkActive #rla2="routerLinkActive"
       [active]="rla2.isActive">所有配置
    </a>
</nav>

<section class="signup-form">
        <br>
        <br>
    <form fxLayout="column"
          fxLayoutAlign="center center"
          [formGroup] = "form"
          (ngSubmit)="onSubmit(form)"
          fxLayoutGap="10px">
        <!-- <mat-form-field hintLabel="Choose from A1-10,B1-10,C1-10"> -->
            <mat-form-field>
            <input
                  matInput
                  placeholder="Device Id"
                  formControlName="deviceId">
            <mat-error *ngIf="form.get('deviceId').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>

        <mat-form-field >
            <input
                   matInput
                  placeholder="Gateway Id"
                  formControlName="gatewayId">
            <mat-error *ngIf="form.get('gatewayId').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Service Type"
                  formControlName="serviceType">
            <mat-error *ngIf="form.get('serviceType').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Service Id"
                  formControlName="serviceId">
            <mat-error *ngIf="form.get('serviceId').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Is Parsing"
                  formControlName="isParsing">
            <mat-error *ngIf="form.get('isParsing').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Parse Field"
                  formControlName="parseField">
            <mat-error *ngIf="form.get('parseField').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Parse Jar Class"
                  formControlName="parseJarClass">
            <mat-error *ngIf="form.get('parseJarClass').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Parse Jar Method"
                  formControlName="parseJarMethod">
            <mat-error *ngIf="form.get('parseJarMethod').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Is Base Decode"
                  formControlName="isBaseDecode">
            <mat-error *ngIf="form.get('isBaseDecode').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Storage Fields"
                  formControlName="storageFields">
            <mat-error *ngIf="form.get('storageFields').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Is Callback"
                  formControlName="isCallback">
            <mat-error *ngIf="form.get('isCallback').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="App Id"
                  formControlName="appId">
            <mat-error *ngIf="form.get('appId').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Method"
                  formControlName="method">
            <mat-error *ngIf="form.get('method').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Callback Url"
                  formControlName="callbackUrl">
            <mat-error *ngIf="form.get('callbackUrl').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Max Retransmit"
                  formControlName="maxRetransmit">
            <mat-error *ngIf="form.get('maxRetransmit').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Expire Time"
                  formControlName="expireTime">
            <mat-error *ngIf="form.get('expireTime').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Callback Fields Key"
                  formControlName="callbackFieldsKey">
            <mat-error *ngIf="form.get('callbackFieldsKey').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input
                   matInput
                  placeholder="Callback Fields Values"
                  formControlName="callbackFieldsValues">
            <mat-error *ngIf="form.get('callbackFieldsValues').hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>

        <mat-form-field>
            <ngx-mat-file-input 
                formControlName="file" 
                placeholder="解析包"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <!--
		<mat-form-field>
			<input
				  placeholder="Choose a starting date"
				  [matDatepicker]="picker"
				  matInput
				  required
				  ngModel name="startingDate">
			<mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

        <mat-form-field >
            <input
                matInput
                placeholder="Enter a duration (Days)"
                ngModel
                required
				type="number"
                name="duration"
                #duration="ngModel">
            <mat-error *ngIf="duration.hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        -->
        <br>
            <button
                *ngIf="!isLoading"
                [disabled]="form.invalid"
                color="primary"
                mat-raised-button
                type="submit">Submit
            </button>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>
