<nav mat-tab-nav-bar>
    <a mat-tab-link
       [routerLink]="['/newConfig']"
       routerLinkActive #rla1="routerLinkActive"
       [active]="rla1.isActive">新建配置
    </a>
    <a mat-tab-link
       [routerLink]="['/allConfig']"
       routerLinkActive #rla2="routerLinkActive"
       [active]="rla2.isActive">所有配置
    </a>
</nav>


<div fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)"
        placeholder="搜索" >
    </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort >
    <ng-container matColumnDef="deviceId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Device id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.deviceId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="gatewayId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Gateway Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.gatewayId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="serviceType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Service Type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.serviceType}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="serviceId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Service Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.serviceId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="isParsing">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Is Parsing</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.isParsing}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="parseField">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Parse Field</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.parseField}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="parseJarPath">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Parse Jar Path</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.parseJarPath}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="parseJarClass">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Parse Jar Class</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.parseJarClass}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="parseJarMethod">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Parse Jar Method</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.parseJarMethod}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="isBaseDecode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Is Base Decode</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.isBaseDecode}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="storageFields">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Storage Fields</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.storageFields}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="isCallback">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Is Callback</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.isCallback}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="appId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>App Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.appId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="method">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Method</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.method}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="callbackUrl">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Callback Url</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.callbackUrl}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="maxRetransmit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Max Retransmit</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.maxRetransmit}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expireTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Expire Time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.expireTime}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="callbackFieldsKey">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Callback Fields Key</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.callbackFieldsKey}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="callbackFieldsValues">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Callback Fields Values</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.callbackFieldsValues}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="操作">
        <mat-header-cell *matHeaderCellDef mat-sort-header>操作</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onDelete(element.deviceId)">delete</button>
                <button mat-menu-item (click)="onEdit(element)">edit</button>
                </mat-menu>
        </mat-cell>
    </ng-container>

    <!--
    <ng-container matColumnDef="startingDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Starting Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.start | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Duration (Days)</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.duration | number}}</mat-cell>
    </ng-container>
    -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
</mat-table>

<mat-paginator #paginator [pageSizeOptions]="[10,20,30]" [pageSize]="10"></mat-paginator>
